<!-- <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file" accept="image/*">
    <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button> -->
<h3>Choose Image to Upload</h3>
<div class="form-group">
  <input #fileInput hidden type="file" name="image" (change)="fileProgress($event)" accept="image/*" />
  <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">Choose</button>
</div>
<div *ngIf="fileUploadProgress">
  Upload progress: {{ fileUploadProgress }}
</div>
<div class="image-preview mb-3" *ngIf="previewUrl">
  <img [src]="previewUrl" height="300" />
</div>

<div class="mb-3" *ngIf="uploadedFilePath">
  {{uploadedFilePath}}
</div>

<div class="form-group">
  <button type="button" mat-stroked-button disabled *ngIf="hideDisabled">Submit</button>
  <button type="button" mat-flat-button color="accent" (click)="onSubmit()" *ngIf="hideSubmitCancel">Submit</button>
  <button type="button" mat-flat-button color="warn" (click)="Cancel()" *ngIf="hideSubmitCancel">Cancel</button>
</div>
