<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Licence Plate Recognition with Kafka Integration</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <button mat-button color="accent" (click)="sidenav.toggle()">Open Sidenav</button>
      <span> {{title}} </span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side">
    <ul>
      <li>
        <a mat-raised-button color="accent" routerLink="../tabledisp">Go To Table Display</a>
      </li>
      <li>
        <a mat-raised-button color="accent" routerLink="../licplatinfo/1">Go To Licence Plate Info</a>
      </li>
      <li>
        <a mat-raised-button color="accent" routerLink="../infostream">Go To Live Information Stream</a>
      </li>
      <li>
        <a mat-raised-button color="primary" routerLink="../trainlicplat">Go To Licence Plate Trainer</a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
    <input hidden (change)="onFileSelected()" #fileInput type="file" id="file" accept="image/*">
  </mat-sidenav-content>
</mat-sidenav-container>
