<div *ngIf="licplat">
  <h2>{{licplat.prediction | uppercase}} Details</h2>
  <button mat-button (click)="goBack()" color="primary">Go Back</button>
  <p>ID: {{licplat.id}}</p>
  <p>Prediction: {{licplat.prediction}}</p>
  <p>Value: {{licplat.value}}</p>
  <!-- <p>Timestamp: {{licplat.timestamp}}</p>
      <p>Location: {{licplat.location}}</p>
      <p>Camera ID: {{licplat.cameraId}}</p>
      <p>Action: {{licplat.arrival_departure}}</p>
      <p>Description: {{licplat.description}}</p> -->
  <p>Image location: {{licplat.image}}</p>
  <p><img src="{{licplat.image}}" alt="{{licplat.prediction}}" width="800px" /></p>
  <div>
    <!-- <label>name:
            <input [(ngModel)]="licplat.prediction" placeholder="prediction" />
          </label> -->
  </div>
</div>
